<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blogs</a></li>
      </ul>
    </nav>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, nihil unde
      voluptatem quisquam incidunt voluptatibus hic cupiditate corporis! Facilis
      enim omnis repudiandae placeat ipsa, nisi, iusto illo voluptatibus maiores
      cumque et deserunt odit nostrum. Rerum et optio dolorum obcaecati quis
      dolorem rem excepturi quaerat quas ut, magni eligendi impedit voluptate
      nihil ipsum. Fugit minima molestiae aperiam delectus, dignissimos non in
      assumenda asperiores veniam inventore similique aliquam! Temporibus
      officiis ipsum dolorum earum rerum aperiam beatae, dicta illum autem.
      Quasi rerum porro animi rem minus accusantium magnam cumque et autem
      perferendis iusto exercitationem, nesciunt mollitia esse repellendus
      molestiae harum doloribus incidunt nam sequi sunt vero. Deleniti doloribus
      sunt ratione nemo fugiat? Modi natus nisi earum ut, consequatur officia
      nulla rem velit eligendi dolorum beatae. Ducimus, dignissimos maxime?
      Mollitia nobis quas aliquam perferendis optio ex eius vitae tempora,
      temporibus in consequatur error laborum magni quam? Accusamus optio in
      temporibus nesciunt facilis hic iste nemo animi tempore delectus,
      assumenda sit consectetur aliquam architecto labore voluptatum veritatis
      saepe maiores vero quam. Eligendi libero doloribus ipsum numquam, iure
      dolorum necessitatibus non commodi corporis. Ducimus eos consectetur quod
      quia aspernatur, sequi dolorum voluptatem et aliquam odio blanditiis
      debitis hic reprehenderit ipsam sunt ipsa necessitatibus, maxime, soluta
      vel?
    </p>
  </body>
</html>
